:root {
    --p-dark: #6B3F69;
    --p-mid: #8D5F8C;
    --p-light: #A376A2;
    --p-white: #DDC3C3;
}

body {
    background: black;
    margin: 0;
    overflow: hidden;
    font-family: 'Courier New', monospace;
    color: var(--p-white);
}

.hud-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

/* OVERLAYS */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, var(--p-dark), transparent);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--p-mid);
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, var(--p-dark), transparent);
    padding: 15px;
    text-align: center;
    border-top: 2px solid var(--p-mid);
}

.rec-dot {
    width: 15px;
    height: 15px;
    background: rgb(185, 51, 51);
    border-radius: 50%;
    display: inline-block;
    animation: blink 1s infinite;
}

.grid-line {
    position: absolute;
    background: rgba(163, 118, 162, 0.3);
    /* p-light with opacity */
}

.g-v {
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
}

.g-h {
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
}

.data-box {
    background: rgba(107, 63, 105, 0.7);
    padding: 5px 10px;
    border: 1px solid var(--p-white);
    font-size: 0.8em;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}